@import url('http://cdn.phillipsenn.com/bootstrap-3.1.1-dist/css/bootstrap-theme.css');
label {
	font-weight:normal;
}
.textAlign-center {
	text-align:center;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a.btn:hover {
	text-decoration:underline;
}
